
/* --- General --- */ 

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

h1 {
  margin: 0 0 30px 10px;
}

h2 {
  margin: 0 10px;
  border-bottom: 1px solid gray;
}

h3 {
  margin: 12px 0;
  border-bottom: 1px solid lightgray;
}
body{
  background-color: #293241;
  color: antiquewhite;
}

/* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.item {
  margin: 10px;
  flex: 1;
}
.item-double {
  flex: 2;
}

@media all and (min-width: 300px){
  body{
    background-color: #014f86;
  }
  .group{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  h1{
    padding: 0 10%;
  }
  .group{
    flex-direction: row;
  }
}
